
body {
    background-image: url(./resources/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-name {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "K2D";
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #508991;
    color: white;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 10dvh;
    width: 25dvw;
    font-family: "K2D";
    transition: 0.5s;
}

.action-button:hover {
    background-color: #3d6f7f;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#file-consult, #file-upload {
    display: none;
}


.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


/* Responsive design */
@media (max-width: 900px) {
    .action-button {
        width: 40dvw;
    }

    .title-name {
        font-size: 2em;
    }

    .mobile-msg {
        display: block;
        text-align: center;
        font-size: 2em;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-family: "K2D";
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px;
        padding: 10px;
        border-radius: 10px;
        background-color: #508991;
        color: white;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        height: 10dvh;
        width: 40dvw;
        font-family: "K2D";
        transition: 0.5s;
    }

    .action-button:hover {
        background-color: #3d6f7f;
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    #file-consult, #file-upload {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px){
    .action-button {
        width: 60dvw;
    }

    .title-name {
        font-size: 1.5em;
    }

    .mobile-msg {
        display: block;
        text-align: center;
        font-size: 2em;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-family: "K2D";
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px;
        padding: 10px;
        border-radius: 10px;
        background-color: #508991;
        color: white;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        height: 10dvh;
        width: 60dvw;
        font-family: "K2D";
        transition: 0.5s;
    }

    .action-button:hover {
        background-color: #3d6f7f;
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    #file-consult, #file-upload {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
}